{% extends "layout.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}



<div class="container-fluid">

    <div class="container">
        <h2 class="text-center">Parcours Scolaire</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Licence Informatique</h5>
                <h6 class="card-subtitle mb-2 text-muted">Université Paris VIII</h6>
                <p>2015-2019</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Master Ingénierie du web</h5>
                <h6 class="card-subtitle mb-2 text-muted">ESGI Paris</h6>
                <p>2021-Présent</p>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="text-center">Experience Professionnelle</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Développeur Front-End - Stage </h5>
                <h6 class="card-subtitle mb-2 text-muted">Vitriweb / Avril 2019 - Mai 2019 </h6>
                <p>Développement de maquettes de site en pré-production <br>
                    Déploiement de maquettes après validation des clients <br>
                    Reprise de sites de clients et refonte <br>
                    Mise à jour des maquettes et sites à effectuer <br></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Alternant Ingénieur Technique</h5>
                <h6 class="card-subtitle mb-2 text-muted">Swisslife /  Janvier 2021 -  Présent</h6>
                <p>Outils des ingénieries ( travaux sur des projets internes à la DSI )</p>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="text-center">Christ en chiffres</h2>
    </div>

    <div class="container">
        <h2 class="text-center">Mes outils</h2>
    </div>

</div>

{% endblock %}