{% extends "layout.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}



<div class="container-fluid">

    <div class="container">
        <h2 class="text-center">Parcours Scolaire</h2>
    </div>

    <div class="container">
        <h2 class="text-center">Experience</h2>
    </div>

    <div class="container">
        <h2 class="text-center">Christ en chiffres</h2>
    </div>

    <div class="container">
        <h2 class="text-center">Mes outils</h2>
    </div>

</div>

{% endblock %}