{% extends "layout.html" %}

{% load static %}


{% block title %}Homepage{% endblock %}

{% block content %}


<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Bienvenue sur mon Portfolio</h1>
        <p class="lead">Alternant au sein de l'entreprise Swiss Life France , je termine mon master en Ingenierie du Web au sein de l'ESGI Paris en décembre 2022 . <br>
             Je suis dés à présent à la recherche d'un CDI. <br></p>
        <hr class="my-4">
        <p>Ce portofolio me permet mettre en pratique mes conaissances sur le développement web , autant sur le front-end que le back-end <br></p>
        <p class="lead">
            Vous pouvez telecharger mon CV en cliquant sur le bouton si dessous <br>
            <a class="btn btn-primary btn-lg" href="#" role="button">Mon CV</a>
          </p>
      </div>
    
</div>


{% endblock %}