{% extends "layout.html" %}

{% load static %}


{% block title %}Homepage{% endblock %}

{% block content %}


<div class="container">
    <div class="jumbotron" style="background-image: url('static/ban.jpeg'); background-size: cover;">
        <div class="row">
            <h1 class="text-center" style="color: whitesmoke">Bienvenue sur mon Portfolio</h1>
            <div class="col-sm-6">
                <p class="lead" style="color: whitesmoke">Alternant au sein de l'entreprise Swiss Life France , je termine mon master en Ingenierie du Web au sein de l'ESGI Paris en décembre 2022 . <br>
                    Je suis dés à présent à la recherche d'un CDI. <br></p>
                <hr class="my-4">    
            </div>
            <div class="col-sm-6">
                <p style="color: whitesmoke">Ce portofolio me permet mettre en pratique mes conaissances sur le développement web , autant sur le front-end que le back-end <br></p>
                <p class="lead" style="color: whitesmoke">
                    Vous pouvez telecharger mon CV en cliquant sur le bouton si dessous <br>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Mon CV</a>
                </p>
            </div>
        </div>
    </div>

<div class="container">
    <div class="section">
        <h1>A propos de moi </h1>
        <p>Vous pouvez retrouvez toutes les informations sur mon parcours sur <a href="/about">cette page</a>
        <h3>Retour en 2014</h3>
        <p>Alors étudiant en deuxième année de licence de sociologie , je recherche dans la fac la salle informatique pour aller à mon premier cours de C2I. <br> 
           Je demande à différents élèves de m'indiquer ou se trouve la salle , et on m'indique alors d'aller dans une salle avec pleins d'ordinateurs appelée "Le Bocal" . <br> <br>
           Arrivée la-bas , je me rend compte que ce n'est pas la bonne salle , mais j'engage tout de même la conversations avec deux élèves ( qui deviendront mes camarades de classe plus tard , et mes amis jusqu'aujourd'hui) .<br>
           Ils m'expliquent rapidement les cours qu'ils suivent , me montre quelques programmes informatiques qu'ils ont réalisé <br>
           Je garde leurs contacts,  et je reviens de temps à autres au bocal , intrigué par l'informatique et le code <br>
           Je décide finalement à la fin de mon année de sociologie de me réorienter en licence informatique, et depuis , j'ai appris à coder , et j'ai acquis des conaissances sur bien d'autres domaines en informatique : <br>
            la programmation fonctionnel , la programmation objet la programmation graphique , l'intelligence artificiel , le réseau etc ... <br>
        </p>

        <h3>Le développement web</h3>
        <p>Mon premier contact avec le développement web a lieu lors d'un cours de programmation web sur le Framework Flask ( peu utilisé de nos jours , largement devancé par Django ) <br>
           Client , serveur , http ... Des notions que je découvre à ce moment là mais que je décide d'approfondir de mon coté. Je commence par apprendre les bases avec HTML/CSS , et ensuite le Javascript <br> <br>
           D'autres cours de programmation web au cours de la licence viendront compléter mes compétences. Je décide donc de poursuive dans la programmation web en m'inscrivant au sein d'un master en école d'ingenieur.
           Je ne trouve malheuresement pas d'alternance . Je travaille alors un an dans un autre domaine. Survient alors le confinement . Je profite de cette période pour reprendre la base de la programmation web <br>
           Je m'inscris au sein de l'ESGI ( mon école actuelle ) en master Ingenierie du Web et fini par trouver mon alternance au sein de l'entreprise Swiss Life France en tant qu'architecte technique . 
           <br> <br>
        </p>
    </div>
</div>



{% endblock %}