<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>A propos de moi</li>
            <li>Portfolio</li>
        </ul>
    </nav>
    <div class="ban">

    </div>
    <section class="about">

    </section>
    <section class="parcours">

    </section>
</body>
</html>